body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #000000;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 760px) {
  footer {
    position: absolute;
    top: 85%;
    left: 20%;
  }
}

@media screen and (min-width: 761px) and (max-width: 960px) {
  footer {
    position: absolute;
    top: 85%;
    left: 60%;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow:
      0 0 5px #ff1493ad,
      0 0 15px #eee,
      0 0 20px #ff1493ad,
      0 0 40px #a00ac9,
      0 0 60px #ff0000,
      0 0 10px #970dc5,
      0 0 98px #ff0000;
    color: #fff;
  }
}
