@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900");

:root {
  --main-body-color: #372d23;
  --text-color: #ffea7e;
  --secondary-main-color: #2c1e11;
  --third-color: #23180d;
  --speed: 500ms;
  /* --font-family: "Archivo", sans-serif; */
}

body {
  background-color: var(--main-body-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
