.en-tete {
  display: flex;
  justify-content: center;
}

.titre-container {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 40%;
  height: 65px;
  border-radius: 10px;
  background-color: #23180d;
  margin: 20px;
}

h1 {
  font-size: 40px;
}

.display-page {
  display: flex;
  flex-direction: row-reverse;
}

.display-movie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.image-movie {
  width: 15%;
  border-radius: 10px;
  margin: 5px;
}
