.en-tete {
  display: flex;
  justify-content: center;
}

.titre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 65px;
  border-radius: 10px;
  background-color: #23180d;
  margin: 20px;
  box-shadow: 0px 4px 4px 0px black;
}

h1 {
  font-size: 40px;
}

.display-page {
  display: flex;
  flex-direction: row-reverse;
}

.display-movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.image-movie {
  width: 15%;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 4px 4px 0px black;
}

.pagination {
  display: flex;
  justify-content: center;
}
.bouttonPagi {
  color: #ffe27c;
  background-color: #23180d;
  border-radius: 25px;
}

@media (min-width: 375px) and (max-width: 700px) {
  .display-page {
    display: flex;
    flex-direction: column-reverse;
  }

  .display-movies {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
    gap: 5px;
  }

  .titre-container {
    height: 40px;
  }

  h1 {
    font-size: medium;
  }

  .image-movie {
    width: 28%;
  }
}
