:root {
  --main-body-color: #372d23;
  --text-color: #ffea7e;
  --secondary-main-color: #2c1e11;
  --third-color: #23180d;
}

.Titre_film {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.Titre {
  background-color: var(--secondary-main-color);
  display: flex;
  justify-content: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px black;
}

.Baniere {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.baniereFilmForum {
  height: 30vw;
  width: 95%;
  border-radius: 10px;
  object-fit: cover;
  object-position: 100% 75%;
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.info_Film {
  background-color: var(--secondary-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px black;
}

.commentaire {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  background-color: var(--secondary-main-color);
  width: 90%;
  border-radius: 10px;
  margin-top: 50px;
}
.Profil {
  display: flex;
  align-items: flex-start;
  height: auto;
}
.photoProfil {
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
  margin: 20px;
  object-fit: cover;
}
.Contenue {
  height: auto;
  width: auto;
}
.Name {
  margin: 20px;
  background-color: var(--third-color);
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.text {
  height: auto;
  width: auto;
  margin: 20px;
}
.Date_reponse {
  display: flex;
  justify-content: space-between;
  height: 75px;
  margin-right: 20px;
}
.Date {
  margin: 20px;
  background-color: var(--third-color);
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.reponse {
  margin: 20px;
  background-color: var(--third-color);
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.publierComment {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #23180d;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 75%;
  height: 175px;
  border-radius: 10px;
}
.content {
  width: 100%;
  height: 80%;
  background-color: var(--secondary-main-color);
  border-radius: 10px;
  margin: 20px;
}
.papoter {
  margin: 10px;
}
.buttonComment {
  background-color: var(--secondary-main-color);
  border-radius: 10px;
  width: 125px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.buttonDiv {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

/* @media (min-width: 375px) and (max-width: 700px) {
  .Baniere {
  }
} */
