.listcolor {
  background-color: #2c1e11;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-left: 15px;
  padding: 6px;
  box-shadow: 0px 1px 4px 0px black;
}

.listmovies {
  text-align: center;
  background-color: #23180d;
  font-size: 30px;
  max-width: max-content;
  border-radius: 10px;
  box-shadow: 0px 3px 6px 0px black;
}

.listfilms {
  text-align: center;
  background-color: #23180d;
  font-size: 14px;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 0px 1px 4px 0px black;
  cursor: pointer;
}

.listfilms:hover {
  color: var(--main-body-color);
}

@media (min-width: 360px) and (max-width: 750px) {
  .listcolor {
    display: flex;
    flex-direction: column;
    height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
    margin: 10px 0;
    width: 70%;
  }

  .listfilms {
    padding: 5px;
    margin: 10px;
  }
}

@media (min-width: 750px) and (max-width: 1150px) {
  .listcolor {
    display: flex;
    flex-direction: column;
    height: 25vh;
    overflow: hidden;
    overflow-y: scroll;
    margin: 30px 0;
    width: 45%;
  }
}
