.duration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
  border-radius: 33px;
  background-color: #23180d;
  margin: 20px;
  padding-bottom: 20px;
}

.custom-range {
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  background: #ffe27c;
  border-radius: 5px;
  outline: none;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #ffe27c;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range:hover::-webkit-slider-thumb {
  background: #ffe27c;
}
