.list-swiper {
  overflow: hidden;
  margin: 2%;
}

.postermovie {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.titleMovieBar {
  color: #ffe27c;
  background-color: #23180d;
  width: max-content;
  font-size: large;
  border-radius: 10px;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
}
.imagemovie {
  width: 100%;
}

.swiper-button-next:after {
  color: #ffe27c;
}
.swiper-button-prev {
  color: #ffe27c;
}

.swiper-slide img {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 6px 4px 0px black;
  transition: transform 0.1s;
}
.swiper-slide img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media (min-width: 375px) and (max-width: 700px) {
  .list-swiper {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }

  .titleMoviebar {
    margin-left: 10px;
    font-size: small;
    padding: 5px;
  }

  .swiper-button-prev:after {
    display: none;
  }
  .swiper-button-next:after {
    display: none;
  }
}
