.actor-section {
  margin-top: 60px;
}

h2 {
  margin-left: 30px;
}

.galerie-image {
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-y: scroll;
}

.image-actor {
  min-width: 83px;
  height: 111px;
  border-radius: 50%;
  margin: 5px;
}

@media (min-width: 375px) and (max-width: 700px) {
  .actor-section {
    /* margin-left: 20px; */
    margin-top: 60px;
  }

  .galerie-image {
    overflow: hidden;
    /* width: 90%; */
    /* margin-left: 20px; */
  }
  .slider {
    width: 100%;
  }

  .image-actor {
    min-width: 63px;
    height: 75px;
  }
}
