.actor-section {
  margin-top: 60px;
}

.actor-title {
  background-color: #23180d;
  margin-left: 30px;
  width: 6%;
  padding: 3px 15px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px black;
}

.galerie-image {
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-y: scroll;
  margin-bottom: 30px;
  margin-left: 10px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.image-actor {
  min-width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 5px;
  object-fit: cover;
  object-position: 100% 35%;
}

@media (min-width: 360px) and (max-width: 750px) {
  .actor-section {
    margin-top: 60px;
  }

  .actor-title {
    width: 15%;
  }

  .galerie-image {
    overflow: hidden;
  }
  .slider {
    width: 100%;
    margin: 0;
  }

  .image-actor {
    min-width: 75px;
    height: 75px;
    object-fit: cover;
    object-position: 100% 35%;
  }
}

@media (min-width: 750px) and (max-width: 1150px) {
  .actor-title {
    width: 11%;
  }
}
