.actor-section {
  margin-left: 40px;
  margin-top: 60px;
}

.galerie-image {
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-y: scroll;
}

.image-actor {
  min-width: 100px;
  height: 110px;
  border-radius: 50%;
  margin: 5px;
}
