.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 450px;
  border-radius: 10px;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 25%;
}

.slide.active {
  opacity: 1;
  position: relative;
}

.slide-hidden {
  display: none;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}

@media (min-width: 360px) and (max-width: 750px) {
  .carousel {
    height: 60%;
    width: 80%;
  }
}

@media (min-width: 750px) and (max-width: 1150px) {
  .carousel {
    height: 60%;
    width: 80%;
  }
}
