@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900");

:root {
  --main-body-color: #372d23;
  --text-color: #ffea7e;
  --secondary-main-color: #2c1e11;
  --third-color: #23180d;
  --speed: 500ms;
}

.logo {
  display: flex;
  height: 45px;
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  background-color: var(--secondary-main-color);
  width: auto;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 28px 5px black;
  padding: 5px;
  position: sticky;
  top: 0;
}

.menu-container {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.button-navbar {
  color: var(--text-color);
  background-color: var(--third-color);
  border: none;
  border-radius: 10px;
}

.button-navbar:hover {
  color: var(--main-body-color);
}

.search-bar {
  height: 20px;
  border-radius: 10px;
  background-color: var(--main-body-color);
  color: #ffea7e;
}

ul {
  display: flex;
  flex-direction: column;
  font-family: "Archivo", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 
.dropdown-menu-parcourir {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 80px;
  height: auto;
  background-color: var(--third-color);
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 20px var(--secondary-main-color);
}

.dropdown-menu-parcourir.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu-parcourir.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
} */

.dropdown-menu-categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 80px;
  height: auto;
  background-color: var(--third-color);
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 20px var(--secondary-main-color);
}

.dropdown-menu-categorie.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu-categorie.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

li {
  padding-top: 10px;
}

a {
  font-family: "Archivo", sans-serif;
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-body-color);
}

.searchbar-logo {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-right: 10px;
}

.logo-avatar {
  width: 45px;
  height: auto;
}

.link {
  cursor: pointer;
}
