@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900");

:root {
  --main-body-color: #372d23;
  --text-color: #ffea7e;
  --secondary-main-color: #2c1e11;
  --third-color: #23180d;
  --speed: 500ms;
}

.logo-section {
  background-image: url("../assets/images/Logo-Desktop.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 50px;
  width: 100px;
  padding: 0;
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  background-color: var(--secondary-main-color);
  width: auto;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 28px 5px black;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.menu-container {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.button-navbar {
  color: var(--text-color);
  background-color: var(--third-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px black;
}

.button-navbar:hover {
  color: var(--main-body-color);
}

.search-bar {
  height: 20px;
  border-radius: 10px;
  background-color: var(--main-body-color);
  color: #ffea7e;
}

ul {
  display: flex;
  flex-direction: column;
  font-family: "Archivo", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu-categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  position: absolute;
  top: 80px;
  height: auto;
  background-color: var(--third-color);
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px 20px var(--secondary-main-color);
}

.dropdown-menu-categorie.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu-categorie.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

li {
  padding-top: 10px;
}

a {
  font-family: "Archivo", sans-serif;
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-body-color);
}

.searchbar-logo {
  display: flex;
  align-items: center;
}

.logo-avatar {
  width: 45px;
  height: auto;
}

.link {
  cursor: pointer;
}

@media (min-width: 375px) and (max-width: 700px) {
  .menu-container {
    margin: 10px;
  }

  .logo-section {
    background-image: url("../assets/images/Logo-Mobile.svg");
    background-size: 28px;
    height: 28px;
    padding: 0px;
    margin: 0px 5px;
    width: 40px;
  }

  .open-modal-search-bar {
    display: flex;
    color: var(--text-color);
    background-color: var(--secondary-main-color);
    border: none;
  }
}
