.film-presentation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  margin-top: 60px;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}

.image-film {
  height: 400px;
  width: 270px;
  border-radius: 10px;
}

.info-film {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.title-movie {
  display: flex;
  justify-content: center;
}

.details-film {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.release-runtime {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.genres-movie {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.release-runtime p {
  margin: 10px;
  margin-right: 20px;
}

.synopis {
  width: auto;
  margin-top: 60px;
}

.synopsis-resume {
  margin-left: 20px;
}

.realisateur {
  margin-left: 10px;
}

@media (min-width: 375px) and (max-width: 700px) {
  .film-presentation {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  .image-film {
    height: 350px;
    width: 270px;
  }

  h1 {
    display: flex;
    justify-content: center;
    font-size: larger;
  }

  .info-film {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .details-film {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .data-film {
    display: flex;
    flex-direction: column;
  }

  .genres-movie {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  p {
    font-size: small;
  }

  .data-film li {
    margin: 0;
  }

  h2 {
    font-size: medium;
    margin-left: 30px;
  }

  .synopsis-resume {
    font-size: 12px;
    margin: 0 20px;
  }
}
