.film-presentation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
  margin: 30px;
  margin-top: 60px;
}

.image-container {
  width: 30%;
  margin: 0 auto;
}

.image-film {
  background-color: black;
  height: 400px;
  width: 270px;
}

.info-film {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* align-items: center; */
}

.data-film {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: space-between;
}

.data-film li {
  width: 150px;
  margin: 10px;
  padding: 0;
}

.genres-movie {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: auto;
}

.synopis {
  width: auto;
  margin: 40px;
  margin-top: 60px;
}

p {
  margin: 10px;
}
